@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif !important;
    font-size: 14px !important;
    background: #f9f9f9 !important;
    color: #101828 !important;
}
 .search-icon{
    top: 5px;
    left: 5px;
}
.fs-14{
    font-size: 14px !important;
}
.fs-12{
    font-size: 12px !important;
}
.fs-18{
    font-size: 17px;
}
.text-gray{
    color: #595959;
}
.border-gray{
    border: 1px solid #E4E4E7;
    border-radius: 8px;
    width: 35px;
    height: 35px;
}
.nav-bar{
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.lightblue-div{
    width: 15px;
    height: 15px;
    background: #DCEBFE;
    border-radius: 3px;
}
.blue-div{
    width: 15px;
    height: 15px;
    background-color: #2463EB;
    border-radius: 3px;
}
.nav-bar .search-bar{
    width: 440px;
}
.sidebar ul li a{
    font-size: 16px ;
    color: #000;
    text-decoration: none;
}
.sidebar {
    width: 14rem;
    position: fixed;
    top: 82px;
    left: 0;
    background-color: #fff;
    height: calc(100vh - 82px);
}
.ads-bg{
    background: #F9F5FF;
}
.sidebar .lower-li{
    bottom: 0;
}

.main-inner{
  margin-left: 14rem;
  padding: 90px 10px;
}
.border-lightgray{
    border: 1px solid #EAECF0;
    border-radius: 8px;
}
.border-b{
    border-bottom: 1px solid #E4E4E7;
}
.bg-lightblue{
    background: #DCEBFE;
}
.reminder .form-floating textarea::placeholder{
    color: #595959;
    font-size: 12px;
}
.reminder .form-floating .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}
.reminder .form-floating textarea{
    resize: none;
}
.reminder .form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    height: 30px;
    line-height: 1.25;
}
.lightred-btn{
    background: #FFD6D6;
}
.admin-img-1{
    margin-left: -10px;
}
.gray-btn{
    background-color: #E4E4E4 !important;
    border: 1px solid #E4E4E4 !important;
}
.lightgreen-btn{
    background-color: #E0F3EB;
}
.recent-signup .table tbody tr{
    vertical-align: middle;
}
.light-graybtn{
    background: #EEEEEE;
}
@media (max-width:992px) {
    .nav-bar .search-bar {
        width: 270px;
    }
}
